%
% this is the configuration file for rebar
%
% add any global settings
%

{lib_dirs,["deps"]}.

{deps, [
        {'timadorus_erlutils', {git, "https://github.com/timadorus/erlutils.git", {branch, "master"}}}
       ]}.


{erl_opts, [ debug_info 
           , fail_on_warning
           , {i, "../include"}, {i, "./include"}
           ]}.

{profiles, [
    {prod, [{erl_opts, [ no_debug_info
                       , warnings_as_errors
                       , nowarn_unused_function
                       , {d, 'NOTEST'}
                       ]}
           ]},
    {native, [
        {erl_opts, [{native, o3}]}
    ]},
    {test, [
        {erl_opts, [ debug_info
                   , fail_on_warning
                   , {d, 'TEST'}
                   ]},
        {deps, [ {'timadorus_erlutils', {git, "https://github.com/timadorus/erlutils.git", {branch, "master"}}}
               , {'em', {git, "https://github.com/cypherfox/erlymock.git", {branch, "master"}}}
               ]},
        {cover_enabled, true},
        {eunit_opts, [ verbose
                     , debug_info
                     ]},
        {xref_queries,[{"(Fun) quperl_octree : Mod", []}]}
    ]}
]}.

%{xref_warnings, false}.

{require_otp_vsn, "17|18"}.

% generate output to be used by jenkins for test cases and test coverage
{eunit_opts, [verbose, 
              {report,{eunit_surefire,[{dir,"."}]}}
             ]}.



%% EDoc options
{edoc_opts, [{dir, "doc/edoc"}]}.

