%
% this is the configuration file for rebar
%
% add any global settings
%

{lib_dirs,["deps"]}.

{deps, [
      {'timadorus_erlutils', "1.1.*", {git, "https://github.com/timadorus/erlutils.git", "master"}},
      {'em', ".*", {git, "https://github.com/cypherfox/erlymock.git"}},
      {'covertool', ".*", {git, "https://github.com/idubrov/covertool.git"}}
]}.


{erl_opts, [debug_info, 
            fail_on_warning,
%%            native, 
%%            {hipe, [o3]}, 
            {i, "../include"}, {i, "./include"}, 
            {d, 'NOTEST'}]}.


{xref_warnings, false}.

{require_otp_vsn, "R16|17"}.

% generate output to be used by jenkins for test cases and test coverage
{eunit_opts, [verbose, 
              {report,{eunit_surefire,[{dir,"."}]}}
             ]}.


% process cover data
{plugins, [rebar_covertool]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{covertool_eunit, {".eunit/eunit.coverdata", "eunit.coverage.xml"}}. % Source file name, output report file name
{covertool_ct, {"ct.coverdata", "ct.coverage.xml"}}. % Source file name, output report file name
%%{covertool_prefix_len, 2}. % Optional: Use module prefix as (imaginary) package name


%% EDoc options
{edoc_opts, [{dir, "doc/edoc"}]}.


